body {
	background-color: #bdc3c7;
}




/* HEADING */

h1 {
	text-align : center;
	font-family: 'Sigmar One', sans-serif;
	color      : #383c42;
	margin     : 40px 0;
	font-size  : 4em;
	text-shadow: 0 1px 0 #dfe3e5;
}

h3 {
	text-align : center;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	color: #4d525a;
}




/* BOARD */

#board {
	margin: 0 auto;
	max-width: 900px;
	text-align: center;
}

.color {
	display: inline-block;
	margin : 1px auto;
	border : 1px solid #b1b8bd;
	height : 300px;
	width  : 40%;
	margin : 5px;
	opacity:.65;
	border-radius: 4px;
	background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.color:hover {
	cursor: pointer;
}

#red {
	background-color: #cd4031;
}

#blue {
	background-color: #2980b9;
}

#yellow {
	background-color: #f1c40f;
}

#green {
	background-color: #27ae60;
}

.active {
	opacity: 1;
	border : 1px solid #cfd5d8;
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));;
}

#gameOver {
	height: 630px;
	width: 80%;
	background-color: #2c3e50;
	text-align : center;
	position: relative;
	margin: 0 auto;
	opacity: .10;
	border-radius: 25px;
	display: none;
}

#gameOver h2 {
	color: #ecf0f1;
	font-size: 7em;
	letter-spacing: 2px;
	line-height: 100px;
	font-family: 'Sigmar One', sans-serif;
	position: relative;
	top: 200px;
	text-shadow: 0 -1px 0 #25313c;
	
}




/* SIMON BUTTON */

#buttonWrapper {
	margin-top: 20px;
	text-align: center;
}

#startButton {
	font-family   : 'Sigmar One', sans-serif;
	font-size     : 25px;
	letter-spacing: 1px;
	color         : #424242;
	border        : 1px solid #a4abb0;
	border-bottom: 2px solid #9ca1a5;
	width        : 200px;
}
	

/******************************
		MEDIA QUERIES
******************************/


/* PHONES - PORTRAIT */

@media only screen and (max-width: 460px) {

	h1 {
		font-size: 2.50em;
		margin: 18px 0;
	}

    .color {
        height: 130px;
        margin: 1px;
    }

    #startButton {
    	font-size: 20px;
    	width: 150px;
    }

     #gameOver {
		height: 270px;
	}

	#gameOver h2 {
		font-size: 3.5em;
		letter-spacing: 1px;
		line-height: 40px;
		top: 100px;	
	}
}

/* PHONES - LANDSCAPE */

@media only screen and (max-width: 700px) and (min-width: 300px) and (orientation: landscape) {
	#board {
		max-width: 310px;
		}

	h1 {
		font-size: 2.2em;
		margin: 15px 0;
	}

    .color {
        height: 90px;
        margin: 1px;
    }

	#buttonWrapper {
		margin-top: 10px;
	}

    #startButton {
    	font-size: 15px;
    	width: 110px;
    	height: 35px;
    	line-height: 10px;
    }

    #gameOver {
		height: 190px;
	}

	#gameOver h2 {
		font-size: 2.75em;
		letter-spacing: 1px;
		line-height: 35px;
		top: 55px;	
	}
}

/* TABLETS - LANDSCAPE */

@media only screen and (min-width: 701px) and (max-width: 1100px) and (max-height: 800px) and (orientation: landscape) {
	#board {
		max-width: 800px;
		}

	h1 {
		font-size: 4em;
		margin: 20px 0;
	}

    .color {
        height: 250px;
        margin: 1px;
    }

    #gameOver {
		height: 515px;
	}

	#gameOver h2 {
		font-size: 6em;
		letter-spacing: 2px;
		line-height: 75px;
		top: 160px;	
	}
}
